/* Accordion Container */
.accordion {
  width: 40%;
  height: auto;
}

/* --------------------------------------- */
/* Accordion Title */

.accordion__title--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary);
  border: none;
  border-radius: var(--border-radius-medium);
  padding: var(--padding-base);
  cursor: pointer;
  border: 2px solid var(--color-black);
}

.accordion__title--container-active {
  border-radius: 20px 20px 0 0;
  border-bottom: none;
}

.accordion__title {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
}

/* --------------------------------------- */
/* Accordion Arrow */

.accordion__toggle-button {
  cursor: pointer;
  border: none;
  background-color: var(--color-secondary);
}

.accordion__toggle-arrow {
  transition: transform 0.3 linear;
  font-size: var(--font-size-base);
}

/* --------------------------------------- */
/* Accordion Content */

.accordion__content--container {
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  border-radius: 0 0 20px 20px;
  transition: max-height 0.3 linear;
  background-color: var(--color-background);
}

.accordion__content--container-active {
  padding: 1rem;
  max-height: 500px;
  border: 2px solid var(--color-black);
}

.rotate-arrow {
  transform: rotate(180deg);
}

/* --------------------------------------- */
/* Responsive Adjustments */

@media screen and (max-width: 820px) {
}

@media screen and (max-width: 430px) {
}
