/* General Alert Styles */
.component__alert--static,
.component__alert--closeable {
  width: 40%;
  text-align: start;
  border: none;
  border-radius: var(--border-radius-medium);
  padding: var(--padding-base);
  font-size: var(--font-size-base);
}

/* --------------------------------------- */
/* Static Alert */

.component__alert--static {
  background-color: var(--color-disabled);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.alert__title {
  padding: 5px 0;
}

/* --------------------------------------- */
/* Closeable Alert */

.component__alert--closeable {
  align-items: center;
  background-color: var(--color-secondary);
}

.closeable__content {
  display: flex;
  justify-content: space-between;
}

.alert__button {
  background-color: var(--color-secondary);
  border: none;
  margin-bottom: auto;
  cursor: pointer;
  margin-right: 5px;
}

.alert__closebale-button {
  font-size: 20px;
}

/* --------------------------------------- */
/* Responsive Adjustments */

@media screen and (max-width: 820px) {
}

@media screen and (max-width: 430px) {
}
