/* General Button Styles */
.button {
  border: none;
  border-radius: var(--border-radius-medium);
  padding: var(--padding-base);
  font-size: var(--font-size-base);
  margin-right: var(--margin-base);
  cursor: pointer;
}

/* --------------------------------------- */
/* Primary Button */

.button__primary {
  background-color: var(--color-black);
  color: var(--color-white);
}

.button__primary:hover {
  background-color: var(--color-secondary);
  color: var(--color-black);
}

.button__primary:active {
  background-color: var(--color-background);
  color: var(--color-black);
}

/* --------------------------------------- */
/* Secondary Button */

.button__secondary {
  background-color: var(--color-secondary);
}

.button__secondary:hover {
  background-color: var(--color-secondary-hover);
}

.button__secondary:active {
  background-color: var(--color-secondary);
}

/* --------------------------------------- */
/* Tertiary Button */

.button__tertiary {
  background-color: var(--color-background);
  border: 2px solid var(--color-black);
}

.button__tertiary:hover {
  background-color: var(--color-secondary);
}

.button__tertiary:active {
  background-color: var(--color-background);
}

/* --------------------------------------- */
/* Ghost Button */

.button__ghost {
  background-color: var(--color-background);
}

.button__ghost:hover {
  background-color: var(--color-secondary);
}

.button__ghost:active {
  background-color: var(--color-background);
}

/* --------------------------------------- */
/* Floating Button */

.button__floating {
  background-color: var(--color-background);
  box-shadow: var(--shadow-light);
}

.button__floating:hover {
  box-shadow: var(--shadow-hover);
}

.button__floating:active {
  box-shadow: var(--shadow-light);
}

/* --------------------------------------- */
/* Disabled Button */

.button__disabled {
  cursor: not-allowed;
  background-color: var(--color-disabled);
}

/* --------------------------------------- */
/* Button Sizes */

.button__size-l {
  padding: var(--padding-large);
}

.button__size-s {
  font-size: var(--font-size-small);
  padding: 10px 15px;
}

.button__size-xs {
  font-size: 0.7rem;
  padding: 8px 13px;
}

/* --------------------------------------- */
/* Responsive Adjustments */

@media screen and (max-width: 820px) {
}

@media screen and (max-width: 430px) {
}
