/* Dropdown Container */
.component__dropdown--example {
  position: relative;
  display: inline-block;
}

/* --------------------------------------- */
/* Dropdown Button */

.dropdown__button {
  width: 40%;
  text-align: start;
  border: none;
  border-radius: var(--border-radius-medium);
  padding: var(--padding-base);
  font-size: var(--font-size-base);
  margin-right: var(--margin-base);
  background-color: var(--color-black);
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown__arrow {
  transition: transform 0.3 linear;
  font-size: var(--font-size-base);
}

.dropdown__button.active .dropdown__arrow {
  transform: rotate(180deg);
}

/* --------------------------------------- */
/* Dropdown Menu */

.dropdown {
  display: none;
  position: absolute;
  background-color: var(--color-black);
  box-shadow: var(--shadow-light);
  margin-top: 5px;
  border-radius: var(--border-radius-small);
  width: 38%;
  border-radius: var(--border-radius-medium);
  z-index: 1000;
  overflow: hidden;
}

/* --------------------------------------- */
/* Dropdown Items */

.dropdown__item {
  display: block;
  padding: 17px 20px;
  font-size: 14px;
  color: var(--color-white);
  text-decoration: none;
}

.dropdown__item:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.dropdown__item:first-child {
  border-radius: 20px 20px 0 0;
}

.dropdown__item:last-child {
  border-radius: 0 0 20px 20px;
}

/* --------------------------------------- */
/* Separator Line */

hr {
  width: 93%;
  display: flex;
  justify-self: center;
}

/* --------------------------------------- */
/* Responsive Adjustments */
/* Tablet */

@media screen and (max-width: 820px) {
  .dropdown__button,
  .dropdown__item {
    font-size: 23px;
  }

  .dropdown__arrow {
    font-size: 20px;
  }
}

/* --------------------------------------- */
/* Mobile */

@media screen and (max-width: 430px) {
  .dropdown__button {
    font-size: 19px;
    width: 80%;
  }

  .dropdown {
    width: 71%;
  }

  .dropdown__item {
    font-size: 19px;
  }

  .dropdown__arrow {
    font-size: 18px;
  }
}
