/* Modal Button */
.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.component__modal-button {
  border: none;
  border-radius: var(--border-radius-medium);
  padding: var(--padding-base);
  font-size: var(--font-size-base);
  cursor: pointer;
  background-color: var(--color-black);
  color: var(--color-white);
}

.component__modal-button:hover {
  background-color: var(--color-secondary);
  color: var(--color-black);
}

.component__modal-button:active {
  background-color: var(--color-background);
  color: var(--color-black);
}

/* --------------------------------------- */
/* Modal Popup */

.modal__content {
  border: 2px solid var(--color-black);
  background-color: var(--color-background);
  border-radius: var(--border-radius-large);
  padding: 25px;
  width: 30%;
}

.modal__title {
  margin-bottom: 20px;
}

.modal__title h3 {
  font-weight: var(--font-weight-regular);
}

.modal__text {
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius-large);
  padding: 20px 25px 50px;
}

/* --------------------------------------- */
/* Modal Popup Buttons */

.modal__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.modal__button-close {
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius-medium);
  padding: var(--padding-base);
  font-size: var(--font-size-base);
  margin-left: 10px;
  margin-top: var(--margin-base);
  cursor: pointer;
  background-color: var(--color-background);
  color: var(--color-black);
}

.modal__button-close:hover {
  background-color: var(--color-secondary);
  color: var(--color-black);
}

.modal__button-close:active {
  background-color: var(--color-background);
  color: var(--color-black);
}

.modal__button-ok {
  border: none;
  border-radius: var(--border-radius-medium);
  padding: var(--padding-base);
  font-size: var(--font-size-base);
  margin-left: 10px;
  margin-top: var(--margin-base);
  cursor: pointer;
  background-color: var(--color-black);
  color: var(--color-white);
}

.modal__button-ok:hover {
  background-color: var(--color-secondary);
  color: var(--color-black);
}

.modal__button-ok:active {
  background-color: var(--color-background);
  color: var(--color-black);
}

/* --------------------------------------- */
/* Responsive Adjustments */

@media screen and (max-width: 820px) {
}

@media screen and (max-width: 430px) {
}
